body{
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    display:flex;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 10%;
}

h1, h2, p{
    color: white;
    font-family: "Montserrat", sans-serif;
}

.content{
    min-width: 250px;
}